svg #liquid_top_left {
    animation: liquid_top_left__m 3000ms linear infinite normal forwards
}
svg #liquid_bottom_right {
    animation: liquid_bottom_right__m 3000ms linear infinite normal forwards
}
svg #liquid_top_right {
    animation: liquid_top_right__m 3000ms linear infinite normal forwards
}
svg #liquid_bottom_left {
    animation: liquid_bottom_left__m 3000ms linear infinite normal forwards
}
@keyframes liquid_top_right__m {
    0% {
        d: path('M512.750111,532.701019C498.262004,532.766362,468.487475,533.761662,454.991581,534.632045C440.622568,535.725675,435.003161,535.806044,426.033142,536.617811C418.923428,537.327023,432.567861,535.806044,420.837837,537.388989C416.006426,538.16196,424.531374,536.617811,415.236648,538.363109C406.677742,540.787441,414.964469,537.626881,406.859975,540.617916L427.983768,557.546277L442.963959,563.538353L457.344943,569.458525L479.388114,575.637362L490.57997,578.975284L500.397388,580.019268L510.973231,580.019268L512.750111,580.019268')
    }
    20% {
        d: path('M512.750111,472.991356C498.262004,473.056699,469.020539,473.992056,455.524645,474.862439C441.155632,475.956069,414.788867,478.033702,408.625233,478.996799C401.418511,480.319777,409.783204,478.875635,398.121598,480.93339C393.188638,482.181296,398.373327,480.89479,389.29025,483.248179C380.843829,485.904334,363.459275,491.711447,355.354781,494.702482L374.641665,515.287522L396.153959,533.647153L423.326125,552.592193L442.694225,561.898942L464.074595,569.696488L484.695834,575.566134L501.138782,578.436962L512.750111,580.019268')
    }
    36.666667% {
        d: path('M512.750111,423.14262C498.262004,423.207963,469.464759,424.184051,455.968865,425.054434C441.599852,426.148064,417.939967,427.981581,409.069453,429.188794C401.959739,429.898006,400.818165,430.254594,389.156559,432.312349C384.325148,433.08532,383.482074,433.680153,374.398997,436.033542C365.840091,438.457874,338.907318,448.247631,330.802824,451.238666L345.119549,479.262893L366.746941,507.591731L395.685001,533.788291L418.226227,549.32346L444.118175,564.249406L471.611205,571.855189L492.943407,577.118374L512.750111,580.019268')
    }
    66.666667% {
        d: path('M512.750111,333.542219C498.262004,333.607562,470.264355,334.529641,456.768461,335.400024C442.399448,336.493654,418.739563,338.327171,409.869049,339.534384C402.759335,340.243596,385.831735,342.73672,374.170129,344.794475C369.338718,345.567446,356.677819,348.693807,347.594742,351.047196C339.035836,353.471528,322.960666,358.886896,314.856172,361.877931L318.917924,397.931265L329.071192,446.995685L353.593561,492.3281L376.422892,517.714859L409.869049,545.400972L448.058874,565.175487L478.191733,574.744916L512.750111,580.019268')
    }
    100% {
        d: path('M512.750111,333.542219C498.262004,333.607562,470.264355,334.529641,456.768461,335.400024C442.399448,336.493654,418.739563,338.327171,409.869049,339.534384C402.759335,340.243596,385.831735,342.73672,374.170129,344.794475C369.338718,345.567446,356.677819,348.693807,347.594742,351.047196C339.035836,353.471528,322.960666,358.886896,314.856172,361.877931L318.917924,397.931265L329.071192,446.995685L353.593561,492.3281L376.422892,517.714859L409.869049,545.400972L448.058874,565.175487L478.191733,574.744916L512.750111,580.019268')
    }
}
@keyframes liquid_bottom_right__m {
    0% {
        d: path('M406.631637,537.920419L426.395452,537.733968C434.402259,537.917874,430.225087,538.104325,439.447028,537.733968C446.819233,537.731423,450.7857,538.104325,459.770196,537.920419C467.752748,537.731423,476.059382,537.917874,486.059798,537.920419C499.92512,538.290776,498.552021,537.962284,512.750108,538.363105')
    }
    10% {
        d: path('M380.09845,518.987122L415.802343,523.080562C423.749175,524.0218,428.802805,524.495578,438.316263,525.582108C445.542953,526.390689,450.02378,526.897011,459.465703,527.628828C467.330265,528.442233,471.419042,528.701756,481.314643,529.20488C494.906415,529.783412,497.687814,530.092456,511.999998,530.760638')
    }
    20% {
        d: path('M358.706521,495.345815L403.254202,500.187954C411.485839,500.914275,419.959582,501.640596,429.643861,502.366917C436.827678,503.263032,443.178734,503.234143,452.644022,504.061665C460.391445,504.545879,467.018368,504.825689,476.946584,505.410777C490.528443,506.077014,497.833487,506.358596,512.202335,506.966949')
    }
    36.666667% {
        d: path('M335.21542,452.637369L383.815451,459.861698C391.941117,461.09126,405.029252,461.846556,415.011416,463.145484C422.123778,464.18749,431.449092,464.128725,440.953324,465.115755C448.773571,465.821528,459.868065,466.035955,469.850639,466.757648C483.415975,467.570061,497.934679,467.195482,512.397968,467.70412')
    }
    66.666667% {
        d: path('M314.856169,364.491685L350.630544,376.616589C358.56546,378.751987,377.018733,383.064739,387.537091,385.394361C394.520835,386.69897,411.078908,389.107587,420.653237,390.381731C428.604569,391.486312,446.48189,393.404045,456.562309,394.371627C470.097905,395.447157,498.116825,396.701878,512.750108,397.031027')
    }
    100% {
        d: path('M314.856169,364.491685L350.630544,376.616589C358.56546,378.751987,377.018733,383.064739,387.537091,385.394361C394.520835,386.69897,411.078908,389.107587,420.653237,390.381731C428.604569,391.486312,446.48189,393.404045,456.562309,394.371627C470.097905,395.447157,498.116825,396.701878,512.750108,397.031027')
    }
}

@keyframes liquid_top_left__m {
    0% {
        d: path('M512.750111,532.701019C498.262004,532.766362,468.487475,533.761662,454.991581,534.632045C440.622568,535.725675,435.003161,535.806044,426.033142,536.617811C418.923428,537.327023,432.567861,535.806044,420.837837,537.388989C416.006426,538.16196,424.531374,536.617811,415.236648,538.363109C406.677742,540.787441,414.964469,537.626881,406.859975,540.617916L427.983768,557.546277L442.963959,563.538353L457.344943,569.458525L479.388114,575.637362L490.57997,578.975284L500.397388,580.019268L510.973231,580.019268L512.750111,580.019268')
    }
    20% {
        d: path('M512.750111,472.991356C498.262004,473.056699,469.020539,473.992056,455.524645,474.862439C441.155632,475.956069,417.803071,477.981394,408.625233,478.996799C401.563678,480.265059,409.332872,478.996799,397.996164,480.93339C393.048898,482.238853,398.373327,480.89479,389.29025,483.248179C380.731344,485.672511,363.459275,491.711447,355.354781,494.702482L374.641665,515.287522L396.153959,533.647153L423.326125,552.592193L442.694225,561.898942L464.074595,569.696488L484.695834,575.566134L501.138782,578.436962L512.750111,580.019268')
    }
    36.666667% {
        d: path('M512.750111,423.14262C498.262004,423.207963,469.464759,424.184051,455.968865,425.054434C441.599852,426.148064,417.939967,427.981581,409.069453,429.188794C401.959739,429.898006,400.818165,430.254594,389.156559,432.312349C384.325148,433.08532,383.482074,433.680153,374.398997,436.033542C365.840091,438.457874,338.907318,448.247631,330.802824,451.238666L345.119549,479.262893L366.746941,507.591731L395.685001,533.788291L418.226227,549.32346L444.118175,564.249406L471.611205,571.855189L492.943407,577.118374L512.750111,580.019268')
    }
    66.666667% {
        d: path('M512.750111,333.542219C498.262004,333.607562,470.264355,334.529641,456.768461,335.400024C442.399448,336.493654,418.739563,338.327171,409.869049,339.534384C402.759335,340.243596,385.831735,342.73672,374.170129,344.794475C369.338718,345.567446,356.677819,348.693807,347.594742,351.047196C339.035836,353.471528,322.960666,358.886896,314.856172,361.877931L318.917924,397.931265L329.071192,446.995685L353.593561,492.3281L376.422892,517.714859L409.869049,545.400972L448.058874,565.175487L478.191733,574.744916L512.750111,580.019268')
    }
    100% {
        d: path('M512.750111,333.542219C498.262004,333.607562,470.264355,334.529641,456.768461,335.400024C442.399448,336.493654,418.739563,338.327171,409.869049,339.534384C402.759335,340.243596,385.831735,342.73672,374.170129,344.794475C369.338718,345.567446,356.677819,348.693807,347.594742,351.047196C339.035836,353.471528,322.960666,358.886896,314.856172,361.877931L318.917924,397.931265L329.071192,446.995685L353.593561,492.3281L376.422892,517.714859L409.869049,545.400972L448.058874,565.175487L478.191733,574.744916L512.750111,580.019268')
    }
}
@keyframes liquid_bottom_left__m {
    0% {
        d: path('M406.631637,537.920419L426.395452,537.733968C434.402259,537.917874,430.225087,538.104325,439.447028,537.733968C446.819233,537.731423,450.7857,538.104325,459.770196,537.920419C467.752748,537.731423,476.059382,537.917874,486.059798,537.920419C499.92512,538.290776,498.552021,537.962284,512.750108,538.363105')
    }
    10% {
        d: path('M380.09845,518.987122L415.802343,523.080562C423.749175,524.0218,428.802805,524.495578,438.316263,525.582108C445.542953,526.390689,450.02378,526.897011,459.465703,527.628828C467.330265,528.442233,471.419042,528.701756,481.314643,529.20488C494.906415,529.783412,497.687814,530.092456,511.999998,530.760638')
    }
    20% {
        d: path('M358.706521,495.345815L403.254202,500.187954C411.485839,500.914275,419.959582,501.640596,429.643861,502.366917C436.827678,503.263032,443.178734,503.234143,452.644022,504.061665C460.391445,504.545879,467.018368,504.825689,476.946584,505.410777C490.528443,506.077014,497.833487,506.358596,512.202335,506.966949')
    }
    36.666667% {
        d: path('M335.21542,452.637369L383.815451,459.861698C391.941117,461.09126,405.029252,461.846556,415.011416,463.145484C422.123778,464.18749,431.449092,464.128725,440.953324,465.115755C448.773571,465.821528,459.868065,466.035955,469.850639,466.757648C483.415975,467.570061,497.934679,467.195482,512.397968,467.70412')
    }
    66.666667% {
        d: path('M314.856169,364.491685L350.630544,376.616589C358.56546,378.751987,377.018733,383.064739,387.537091,385.394361C394.520835,386.69897,411.078908,389.107587,420.653237,390.381731C428.604569,391.486312,446.48189,393.404045,456.562309,394.371627C470.097905,395.447157,498.116825,396.701878,512.750108,397.031027')
    }
    100% {
        d: path('M314.856169,364.491685L350.630544,376.616589C358.56546,378.751987,377.018733,383.064739,387.537091,385.394361C394.520835,386.69897,411.078908,389.107587,420.653237,390.381731C428.604569,391.486312,446.48189,393.404045,456.562309,394.371627C470.097905,395.447157,498.116825,396.701878,512.750108,397.031027')
    }
}